.box{
    display: flex;
    width: 255px;
    height: 500px;
    margin: 0 ;
    background-color: gray;
    transform: translateX(-90%);
    transition: transform 500ms ease;

}
.box:hover{
    transform: translateX(0%);

}

.text{
    display: block;
    transform: translateX(-38%) rotate(90deg);
}
.box:hover .text{
    display: none;
}

.list{
    padding-top: 100px;
}

.item{
    gap: 30px;
}
.link{
    display: flex;
    color: red;
    margin-bottom: 20px;
}

.item::before{
    display: flex;
    width: 30px;
    height: 30px;
    background-image: url(../img/th.jpg);
    content: '';
    background-repeat: no-repeat;
    background-color: black;
    background-size: 100%;
    
}