.box{
    display: flex;
    position: absolute;
    width: 325px;
    height: 500px;
    margin: 0 ;
    background-color: gray;
    transform: translateX(-90%);
    transition: transform 500ms ease;

}
.box:hover{
    transform: translateX(0%);

}

.text{
    display: block;
    position: relative;
    transform: translateX(-38%) rotate(90deg);
    left: 20%;
    color: white;
}
.box:hover .text{
    display: none;
}

.list{
    padding-top: 50px;
}

.item{
    display: flex;

    gap: 15px;
    
}
.link{
    /* display: flex; */
    margin-bottom: 20px;
    color: white;
    
}

/* .item::before{
    display: flex;
    width: 30px;
    height: 30px;
    background-image: url(../img/th.jpg);
    content: '';
    background-repeat: no-repeat;
    background-color: black;
    background-size: 100%;
    
} */
.diamond{
    width: 10px;
    height: 10px;
    border: 2px solid black;
    background-color: orange;
    transform: rotate(45deg);
}
